



    <h1>
        Save time and bet smarter with data-driven football match predictions delivered weekly.
    </h1>

    <p>
        Our Machine Learning algorithm identifies favorable underdog matchups (positive odds) across 8 major European football leagues.
    </p>

    <p>
        Receive our picks in your inbox this Friday and start betting on the underdogs!
    </p>


    <form action="">
        <label for=""></label>
        <input type="text">
    
    </form>


    <ul>
        <li>
        We are currently in Beta, but plan to launch full features for the 2021-2022 season.
        </li>
        <li>
        Beta subscribers will receive a 2 month free trial of our premium service after launch!
        </li>
    </ul>